@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 1024px) {
    /* Header */
    .headerMain {
        background-color: #FF9F1C;
        overflow: auto;
        height: 10vh;
      }
    .navbarMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 200px;
        margin-right: 200px;
        height: 10vh;
        align-content: center;
        /* padding: 100px 5%; */
    }
    .navbarUL {
        flex:3;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .navbarLI {
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
    .navbarLI:hover {
        font-weight: bold;
    }

    .navbarA {
        text-decoration: none;
    }

    .navbarDIV {
        flex:1;
    }

    .navbarImg {
        /* max-width: 50%; */
        align-items: center;
        width: 75%;
        height: auto;
        margin-bottom: 0px; /* Adjust if more or less space is needed */
        transform: rotate(25deg);
      }

    /* Profile display */

    .containerProfile {
        display: flex;
        height: 90vh;
    }

    .containerOneQuarter {
        flex: 1;
        border: solid;
        border-color:#d0d0d4;
        border-top: #F4F4F8;
        border-left: #F4F4F8;
        border-bottom: #F4F4F8;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .containerThreeQuarter {
        flex: 3;
    }

    .profileH {
        text-align: center;
        color: #4A4E69
    }

    .profileP {
        text-align: center;
        color: #4A4E69;
    }

    .profileButton {
        display: flex;
        flex-direction: column; /* Alinea los botones verticalmente */
        align-items: center; /* Centra los botones horizontalmente */
        justify-content: center; /* Centra los botones verticalmente */
        /*height: 100vh; /* Altura del contenedor (ajusta según necesidades) */
        gap: 10px; 
    }

    .profileButton button {
        background-color: #FF9F1C; /* Color naranja */
        color: #4A4E69; /* Texto blanco */
        font-size: 16px; /* Tamaño de la fuente */
        padding: 10px 20px; /* Espaciado interno */
        border: none; /* Sin bordes */
        border-radius: 5px; /* Esquinas redondeadas */
        cursor: pointer; /* Cursor tipo puntero */
        transition: background-color 0.3s;  /* Transición suave del color de fondo */
    }

    .profileContainerSkills {
        border: solid;
        border-color:#d0d0d4;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
    }

    .profileContainerTitle {
        padding-left: 20px;
        color: #4A4E69;
    }

    .profileContainerSkillBox {
        display: flex;
    }

    .profileSkillBox1 {
        text-align: center;
        flex: 1;
    }
    .profileSkillBox2 {
        text-align: center;
        flex: 1;
    }
    .profileSkillBox3 {
        text-align: center;
        flex: 1;
    }
    .profileSkillBox4 {
        text-align: center;
        flex: 1;
    }

    .profileSkillBtn {
        display: flex;
        flex-direction: column; /* Alinea los botones verticalmente */
        align-items: center; /* Centra los botones horizontalmente */
        justify-content: center; /* Centra los botones verticalmente */
        /*height: 100vh; /* Altura del contenedor (ajusta según necesidades) */
        gap: 10px; 
    }

    .profileSkillBtn button {
        background-color: gold; /* Color naranja */
        color: black; /* Texto blanco */
        font-size: 16px; /* Tamaño de la fuente */
        padding: 10px 50px; /* Espaciado interno */
        border: solid; /* Sin bordes */
        border-color: #d0d0d4;
        border-radius: 5px; /* Esquinas redondeadas */
        cursor: pointer; /* Cursor tipo puntero */
        transition: background-color 0.3s; 
    }

    /* Contact */

    .containerOneQuarterContact {
        flex: 1;
        border: solid;
        border-color:#d0d0d4;
        border-top: #F4F4F8;
        border-left: #F4F4F8;
        border-bottom: #F4F4F8;
        padding-bottom: 20vh;
    }

    .containerOneQuarterContact div {
        border: solid;
        border-color:#d0d0d4;
        padding: 20px;
        border-right: #F4F4F8;
        border-top: #F4F4F8;
    }

    .containerOneQuarterContact a {
        text-decoration: none;
        color: #4A4E69;
    }

    .containerOneQuarterContactA {
        /* Deshabilitar */
        color:#F4F4F8;
    }

    .contactContainer {
        display: flex;
        border: solid;
        border-color:#d0d0d4;
        margin: 20px;
        border-radius: 20px;
        padding: 10px;
    }

    .contactPhoto {
        flex: 1;
    }

    .contactInfo {
        flex: 1;
        border: solid;
        border-color:#d0d0d4;
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
        align-content: center;
    }

    .contactInfo h3, p, h4 {
        text-align: center;
    }
    .contactSkillsContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
    }
    .contactSkillsContainerDiv {
        flex: 1;
        border: solid;
        border-color:#d0d0d4;
        border-radius: 10px;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 50px;
    }
    .contactSkillsContainer p {
        text-align: left;
        padding-left: 10px;
    }
    .contactSkillList {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 75px;
    }
    .contactSkillList button {
        padding: 10px;
        margin: 10px;
        flex: 1;
        background-color: gold;
        border: solid;
        border-color: #d0d0d4;
        border-radius: 10px;
    }

    .contactButtonContainer {
        flex:0.75;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .contactButtonContainer1 {
        flex: 2;
        margin: 20px;
        margin-bottom: 2px;
        border: none;
        border-radius: 10px;
        background-color: #FF9F1C;
    }

    .contactButtonContainer2 {
        flex: 1;
        margin: 20px;
        /* margin-top: 50px; */
        /* margin-top: 5px; */
        /* height: 20px; */
        border: none;
        border-radius: 10px;
        background-color: red;
    }

    /* Search */

    .containerSearch {
        display: flex;
        flex-direction: row;
        min-height: 90vh;
    }

    .containerOneQuarterSearch {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: solid;
        border-color:#d0d0d4;
        border-top: #F4F4F8;
        border-left: #F4F4F8;
        border-bottom: #F4F4F8;
    }

    .containerThreeQuarterSearch {
        flex:3;
        display: flex;
        flex-direction: column;
    }

    .searcherSearchBtn {
        background-color: #FF9F1C !important;
        padding: 5px;
        margin: 5px !important;
        border-radius: 10px;
        border: none !important;
        font-size: medium;
    }

    .searcherSearchBtnClear {
        background-color:#4A4E69 !important;
        color: white !important;
        padding: 5px;
        margin: 5px !important;
        border-radius: 10px;
        border: none !important;
        font-size: small;
        cursor: pointer;
    }

    .searcherSearch {
        margin: 10px;
    }

    .searcherSearch p {
        padding-left: 10px;
        text-align: left;
    }

    .searcherSearch input {
        padding-left: 10px;
        margin-left: 10px;
    }

    .searcherSearch ul {
        max-width: 400px;
    }

    .searcherSearch button {
        background-color:#F4F4F8;
        padding: 5px;
        margin: 2px;
        border-radius: 10px;
        border: solid;
        border-color: #d0d0d4;
        font-size: 12px;
        cursor: pointer;
    }

    .searchResults {
        margin: 20px;
        border: solid;
        border-color: #d0d0d4;
        border-radius: 10px;
    }

    .searchResults p {
        text-align: left;
        padding-left: 10px;
    }

    .searchResults ul {
        list-style: none;
    }

    .searchResults li {
        display: inline-block;
        margin: 10px;
        background-color: #d0d0d4;
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
        /* width: 200px; */
        text-align: center;
    }

    .searchResultsBtnClear {
        background-color:#4A4E69 !important;
        color: white !important;
        padding: 5px;
        margin-top: 5px;
        margin-left: 10px !important;
        border-radius: 10px;
        border: none !important;
        font-size: 12px;
        cursor: pointer;
    }

    .searchResultsContainer {
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .ratingButtons {
        padding-top: 10px;
        display: flex;
        gap: 5px;
        /* margin-left: 10px; */
        align-items: center;
    }

    .ratingButton {
        border: none;
        border-radius: 50%;
        color: black;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
    }

    .searchMainBtn {
        margin: 10px;
        background-color:#FF9F1C !important;
        color: black !important;
        padding: 5px;
        margin-left: 30px !important;
        border-radius: 10px;
        border: none !important;
        font-size: 14px;
        cursor: pointer;
    }

    .searchMainBtn:hover {
        background-color: darkorange;
    }

    /* SearchResults */

    .resultList {
        list-style: none;
        margin-left: 0px !important;
        margin-right: 10px;
    }

    .resultContainer {
        border:solid;
        border-color: #d0d0d4;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        margin-right: 20px;
        font-size: 14px;
    }

    .resultDiv {
        display: flex;
        flex-direction: row;
    }

    .resultDiv1 {
        flex: 1;
        align-content: center;
        border: solid;
        padding: 5px;
        border-color: #d0d0d4;
        border-radius: 10px;
    }

    .resultDiv1 p {
        text-align: center;
    }

    .resultDiv2 {
        flex: 3;
    }

    .resultDiv3 {
        flex: 1;
    }

    .resultDiv2 ul {
        list-style: none;
    }

    .resultDiv2Container {
        display: flex;
        flex-direction: row;
    }

    .resultDiv2Content1 {
        flex: 1;
        margin: 10px;
    }

    .resultDiv2Content2 {
        flex: 1;
        margin: 10px;
    }

    .resultContent {
        border: solid;
        border-color: #d0d0d4;
        border-radius: 10px;
        padding: 5px;
    }

    /* Search Result IA */

    .languageItem {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .skillItem {
        padding: 5px 10px;
        border-radius: 5px;
        color: black;
        font-weight: medium;
        font-size: 14px;
    }
    
    .userActions {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .userActionBtn {
        padding: 10px;
        background-color:#FF9F1C;
        color:#4A4E69;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: medium;
    }
    
    .userActionBtn:hover {
        background-color: darkorange;
    }

    .userCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid #d0d0d4;
        padding: 20px;
        border-radius: 10px;
    }
    
    .userInfo {
        width: 20%;
        border: solid #d0d0d4;
        margin: 10px;
        align-content: center;
        border-radius: 10px;
    }
    
    .userSkills {
        width: 60%;
        margin: 10px;
    }
    
    .userLanguages, .userMainSkills {
        margin-bottom: 5px;
    }

    .userLanguages p, .userMainSkills p{
        padding-left: 10px;
        text-align: left;
    }
    
    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 10px;
    }

    .userList {
        list-style-type: none;
        padding: 0;
        font-size: 14px;
        color:#4A4E69;
    }
    
    .userItem {
        margin-bottom: 20px;
    }

    .mt {
        margin-top:0%;
    }

    .resultTitle {
        text-align: left;
        padding-left: 10px;
        margin: 10px;
        margin-top: 40px;
    }

}